<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GateSwitchWay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GateSwitchWay.Settings>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterNativeGw4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterNativeGw4" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="AlterNativeGw6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterNativeGw6" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="AlterNativeDns4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterNativeDns4" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="AlterNativeDns6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterNativeDns6" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="NativeGw4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NativeGw4" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="NativeGw6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NativeGw6" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="NativeDns4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NativeDns4" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="NativeDns6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NativeDns6" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="AutoAlter" serializeAs="String">
                <value>False</value>
            </setting>
        </GateSwitchWay.Settings>
    </userSettings>
</configuration>